@import "reset.css";
/*components*/
@import "components/menu.css";

/* screen */
@import "screens/index.css ";
body {
  font-family: sans-serif;
  height: 100vh;
  background-color: #0d1218;
  box-sizing: border-box;
}
